@charset "utf-8";

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$blue: #0394d9;
$orange: #ff7c0f;
$white: #fff;

// 3. Set the derived variables
$primary: $blue;
$primary-invert: $white;
$info: $orange;

// 4. Import the rest of Bulma
@import "~bulma/bulma";

// 5. Import FontAwesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~vue2-animate/dist/vue2-animate.min";
