@import "~styles/main";

.vue-toast-manager_container {
  position: fixed;
  width: 100%;

  &.__top {
    top: 10px;
  }
  &.__bottom {
    bottom: 10px;
  }
  &.__left {
    left: 10px;
  }
  &.__right {
    right: 10px;
  }
}

.vue-toast-manager_toasts {
  position: relative;
}

.vue-toast_container {
  position: absolute;
  padding-bottom: 10px;
  transform: translateY(0);
  transition: transform .2s ease-out;
  backface-visibility: hidden;

  &._default .vue-toast_message {
    background-color: $primary;
  }
  &._info .vue-toast_message {
    background-color: $info;
  }
  &._success .vue-toast_message {
    background-color: $success;
  }
  &._warning .vue-toast_message {
    background-color: $warning;
  }
  &._error .vue-toast_message {
    background-color: $danger;
  }

}

.vue-toast-manager_container {
  &.__top .vue-toast_container {
    top: 0;
  }
  &.__bottom .vue-toast_container {
    bottom: 0;
  }
  &.__left .vue-toast_container {
    left: 0;
  }
  &.__right .vue-toast_container {
    right: 0;
  }
}

.vue-toast_message {
  @extend .notification;
  // padding: 15px 22px 15px 10px;
  // color: white;
  // font-family: arial, sans-serif;
}

.vue-toast_close-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  opacity: .7;
  transition: opacity .15s ease-in-out;
  backface-visibility: hidden;

  &:hover {
    opacity: .9;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    width: 14px;
    height: 2px;
    background-color: white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.vue-toast-enter-active {
  opacity: 0;
  transition: all .2s ease-out;
}
.vue-toast-enter-to {
  opacity: 1;
}
.vue-toast-leave-active {
  opacity: 1;
  transition: all .1s ease-out;
}
.vue-toast-leave-to {
  opacity: 0;
}
