<template>
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="title is-4 has-text-black">{{ $t("advert.heading") }}</h2>
            <p>{{ $t("advert.body") }}</p>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <router-link class="button is-medium is-info" :to="{ name: 'signup' }">{{ $t("advert.buttonText") }}</router-link>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import Analytics from "root/analytics";

export default {
  name: "Advertisement",
  created() {
    new Analytics().recordEvent("pageview");
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
