<template>
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="title is-4 has-text-black">{{ $t("splash.heading") }}</h2>
            <p>{{ $t("splash.body") }}</p>
            <ul class="fa-ul has-text-left">
              <li><i class="fa-li fa fa-check-square"></i>{{ $t("splash.featureList[0]") }}</li>
              <li><i class="fa-li fa fa-check-square"></i>{{ $t("splash.featureList[1]") }}</li>
              <li><i class="fa-li fa fa-check-square"></i>{{ $t("splash.featureList[2]") }}</li>
              <li><i class="fa-li fa fa-check-square"></i>{{ $t("splash.featureList[3]") }}</li>
            </ul>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <router-link :to="{ name: 'tutorial' }" class="button is-medium is-info">{{ $t("splash.buttonText") }}</router-link>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
  import Analytics from "root/analytics";
  export default {
    name: "home",
    created() {
      new Analytics().recordEvent("pageview");
    },
    data() {
      return {};
    }
  };
</script>

<style lang="scss" scoped>
  @import "~styles/main";

  .lf-page {
    @extend .columns;
    @extend .is-centered;
  }

  .lf-column {
    @extend .column;
    @extend .is-half-desktop;
  }

  .lf-card {
    @extend .card;
    @extend .has-text-centered;
  }

  .lf-card-content {
    @extend .card-content;
  }

  .lf-content {
    @extend .content;
  }
</style>
