<template>
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <router-view>
      </router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

import Analytics from "root/analytics";

export default {
  name: "review",
  computed: {
    ...mapState(["studySession"]),
    ...mapGetters("sentences", {
      findSentencesInStore: "find"
    }),
    ...mapGetters(["currentCardIndex"]),
    sentences() {
      return this.findSentencesInStore({ query: { $sort: { createdAt: 1 } } });
    }
  },
  methods: {
    ...mapActions("sentences", {
      findSentences: "find"
    }),
    ...mapActions(["addToStudySession"])
  },
  created() {
    new Analytics().recordEvent("pageview");
    this.findSentences({
      query: {
        $sort: { createdAt: -1 },
        $limit: 10
      }
    }).then(() => {
      this.sentences.data.forEach(sentence => {
        this.addToStudySession(sentence);
      });
    }).then(() => {
      this.$router.push({ name: "review-item", params: { id: this.studySession[this.currentCardIndex].sentence._id } });
    }).catch(err => {
      console.error(err);
      this.$router.push({ name: "ad" });
    });
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
