<template>
  <div>
    <transition name="flip" mode="out-in">
      <keep-alive>
        <card-front v-if="isShowingFront" :model="card" @response-change="onResponseChange" @recording-error="onRecordingError" @recording-success="onRecordingSuccess" @transcription-error="onTranscriptionError"></card-front>
        <card-back v-else :model="answer" :displayText="displayText" :isAnswerCorrect="isAnswerCorrect" :score="score" @click-button="proceedToNextCard"></card-back>
      </keep-alive>
    </transition>
    <vue-toast ref="toast"></vue-toast>
  </div>
</template>

<script>
import "root/styles/vue-toast.scss";
import VueToast from "vue-toast";
import { diffWords } from "diff";
import { mapState, mapGetters, mapActions } from "vuex";

import Analytics from "root/analytics";
import CardBack from "components/CardBack";
import CardFront from "components/CardFront";

export default {
  name: "review-item",
  components: {
    CardFront,
    CardBack,
    VueToast
  },
  computed: {
    displayText() {
      return this.diffedWords.filter(word => !word.added);
    },
    diffedWords() {
      const diffed = diffWords(this.card.text, this.answer.text, { ignoreCase: true });
      return diffed.map(item => {
        const words = item.value.match(/([\w']+|[!"#$%&()*+,./:;<=>?@\^_`{|}~\-]+)/g);  // not "'", so that I've and I'm are counted as one word
        if (words && words.length) {
          return words.map(word => {
            return { value: word, added: item.added, removed: item.removed, isPunctuation: this.isPunctuation(word) };
          });
        }
      }).reduce((a, b) => a.concat(b))
      .filter(Boolean);  // get rid of undefineds
    },
    isAnswerCorrect() {
      return this.diffedWords.filter(word => (word.removed || word.added))
        .filter(word => !word.isPunctuation)
        .length === 0;
    },
    score() {
      const target = this.diffedWords.filter(word => !word.added && !word.isPunctuation);
      const correct = this.diffedWords.filter(word => !word.added && !word.removed && !word.isPunctuation);
      if (target && target.length) {
        return correct.length / target.length;
      }
      console.error("Empty target.");
      return 1;
    },
    ...mapState(["studySession", "audioFormat"]),
    ...mapGetters("sentences", {
      currentSentence: "current"
    }),
    ...mapGetters(["isMicrophoneOn", "currentCardIndex"])
  },
  methods: {
    flipCard() {
      if (!this.answer.text || !this.answer.text.length) {
        this.$refs.toast.showToast(this.$t("review.emptyResponseErrorMessage"), { theme: "info", timeLife: 20000 });
        new Analytics().recordEvent("warning", { type: "emptyResponse" });
        return;
      }
      this.markCardComplete({ id: this.$route.params.id, score: this.score }).then(() => {
        new Analytics().recordEvent("response", {
          isCorrect: this.isAnswerCorrect,
          inputMethod: this.isMicrophoneOn ? "audio" : "text",
          added: this.diffedWords.filter(word => word.added).map(word => word.value),
          removed: this.diffedWords.filter(word => word.removed).map(word => word.value)
        });
        this.isShowingFront = !this.isShowingFront;
      }).catch(err => {
        console.error(err);
      });
    },
    isPunctuation(s) {
      const regex = /^[!"#$%&()*+,./:;<=>?@\^_`{|}~\-]+$/;  // not "'", so that I've and I'm are counted as one word
      return regex.test(s);
    },
    onRecordingError(error) {
      let errorMessage = this.$t("review.genericErrorMessage");
      if (error.type === "tooLong") {
        errorMessage = this.$t("review.tooLongErrorMessage");
      }
      this.$refs.toast.showToast(errorMessage, { theme: "info" });
    },
    onRecordingSuccess(audioUrl) {
      this.answer.sources = [audioUrl];
    },
    onResponseChange(response) {
      this.answer.text = response;
      this.flipCard();
    },
    onTranscriptionError(error) {
      const errorType = error.message;
      let errorMessage = this.$t("review.genericErrorMessage");
      if (errorType === "emptyResponse") {
        errorMessage = this.$t("review.emptyResponseErrorMessage");
      } else if (errorType === "lowQuality") {
        errorMessage = this.$t("review.lowQualityErrorMessage");
      }
      new Analytics().recordEvent("warning", { type: errorType });
      this.$refs.toast.showToast(errorMessage, { theme: "info" });
    },
    proceedToNextCard() {
      this.isShowingFront = true;
      this.answer = {
        text: "",
        sources: []
      };

      if (this.currentCardIndex >= 0) {
        this.$router.push({ name: "review-item", params: { id: this.studySession[this.currentCardIndex].sentence._id } });
      } else {
        this.$router.push({ name: "ad" });
      }
    },
    setCard(id) {
      Promise.all([
        this.getSentence(id)
      ]).then((response) => {
        this.card = {
          text: this.currentSentence.text,
          sources: [`${process.env.API_URL}/audio/${response[0].audioType}/${id}.${this.audioFormat}`]
        };
      })
      .catch(err => {
        console.log(err);
        this.proceedToNextCard();
      });
    },
    ...mapActions("sentences", {
      getSentence: "get"
    }),
    ...mapActions(["markCardComplete"])
  },
  created() {
    this.setCard(this.$route.params.id);
  },
  mounted() {
    this.$refs.toast.setOptions({
      position: "bottom right"
    });
  },
  beforeRouteUpdate(to, from, next) {
    const proposedCard = this.studySession.find(card => card.sentence._id === to.params.id);

    if (proposedCard.complete) {
      next({ name: "review-item", params: { id: this.studySession[this.currentCardIndex].sentence._id } });
    } else {
      this.setCard(to.params.id);
      next();
    }
  },
  data() {
    return {
      card: {
        text: "",
        sources: []
      },
      isShowingFront: true,
      answer: {
        text: "",
        sources: []
      }
    };
  }
};
</script>

<style lang="scss" scoped>
  .vue-toast-manager_container {
    z-index: 10;
  }

  .flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
  }

  .flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
  }

  .flip-enter, .flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
  }
</style>
