<template>
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="title is-4 has-text-black">{{ $t("optin.heading") }}</h2>
            <p>{{ $t('optin.body') }}</p>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <form style="width: 100%">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="email" :placeholder="$t('optin.emailPlaceholder')" v-model="email">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <textarea class="textarea" :placeholder="$t('optin.commentPlaceholder')" v-model="comment"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <a class="button is-medium is-info" style="width: 100%;" @click="submitForm">{{ $t("optin.buttonText") }}</a>
              </div>
            </div>
            </form>
          </div>
        </footer>
      </div>
    </div>
    <vue-toast ref="toast"></vue-toast>
  </div>
</template>

<script>
import "root/styles/vue-toast.scss";
import VueToast from "vue-toast";

import Analytics from "root/analytics";
import Mail from "root/mail";

export default {
  name: "signup",
  components: { VueToast },
  methods: {
    submitForm() {
      if (!this.email) {
        this.$refs.toast.showToast(this.$t("optin.emptyEmailErrorMessage"), { theme: "info" });
        return;
      }
      if (!Mail.validateEmail(this.email)) {
        this.$refs.toast.showToast(this.$t("optin.invalidEmailErrorMessage"), { theme: "info" });
        return;
      }

      new Mail().addSubscriber(this.email, this.comment)
        .then(() => {
          this.$router.push({ name: "thank-you" });
        })
        .catch((error) => {
          this.$refs.toast.showToast(error.data, { theme: "info" });
        });
    }
  },
  created() {
    new Analytics().recordEvent("pageview");
  },
  mounted() {
    this.$refs.toast.setOptions({
      position: "bottom right"
    });
  },
  data() {
    return {
      comment: "",
      email: ""
    };
  }
};
</script>

<style lang="scss" scoped>
</style>
