<template>
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-content">
          <div class="content has-text-centered">
            <h2 class="title is-4 has-text-black">{{ $t("thankYou.title") }}</h2>
            <p class="body">{{ $t("thankYou.body") }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Analytics from "root/analytics";

export default {
  name: "thank-you",
  created() {
    new Analytics().recordEvent("pageview");
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
