<template>
  <div class="columns is-centered" @click="dismissTutorial">
    <div class="column is-half-desktop">
      <tutorial-card></tutorial-card>
    </div>
  </div>
</template>

<script>
import Analytics from "root/analytics";
import TutorialCard from "components/TutorialCard";

export default {

  name: "Tutorial",
  components: { TutorialCard },
  methods: {
    dismissTutorial() {
      this.$router.push({ name: "review" });
    }
  },
  created() {
    new Analytics().recordEvent("pageview");
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
