<template>
  <div id="app">
    <section class="lf-app hero is-primary is-fullheight">
      <div class="hero-head">
        <app-navbar></app-navbar>
      </div>
      <div class="hero-body">
        <div class="container">
          <router-view></router-view>
        </div>
      </div>
      <app-footer></app-footer>
    </section>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import Compatibility from "root/compatibility";
import AppNavbar from "components/AppNavbar";
import AppFooter from "components/AppFooter";

export default {
  name: "app",
  components: { AppFooter, AppNavbar },
  methods: {
    ...mapActions(["setAudioFormat"])
  },
  created() {
    if (Compatibility.canPlayOgg()) {
      this.setAudioFormat("ogg");
    } else if (Compatibility.canPlayMp3()) {
      this.setAudioFormat("mp3");
    } else {
      console.error("Your browser cannot play audio.");  // TODO deal with this
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
  @import "~styles/main";

  .lf-app {
    background-image: url("~assets/bg1.png");
    background-size: cover;
    padding-top: 52px;
    padding-bottom: 112px;
  }
</style>
