<template>
  <footer class="hero-foot app-footer" v-if="show">
    <div class="container">
      <div class="scorebar-container">
        <progress-bar :percentFilled="sessionProgress"></progress-bar>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from "vuex";

import ProgressBar from "components/ProgressBar";

export default {
  name: "app-footer",
  components: { ProgressBar },
  computed: {
    show() {
      return typeof this.sessionProgress === "number" && ["review", "review-item"].indexOf(this.$route.name) > -1;
    },
    ...mapGetters(["sessionProgress"])
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
  @import "~styles/main";

  .app-footer {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    color: $dark;
  }

  .scorebar-container {
    display: flex;
    justify-content: center;
  }
</style>
