<template>
  <nav class="lf-navbar navbar">
    <div class="navbar-brand">
      <router-link :to="{ name: 'home' }" class="navbar-item" exact>
        <img src="../assets/lingfisher.png" alt="Lingfisher logo" height="28">
      </router-link>
      <div class="navbar-burger burger" :class="{ 'is-active': isMenuActive }" @click="toggleMenuActive">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" :class="{ 'is-active': isMenuActive }">
      <div class="navbar-end">
        <router-link tag="div" :to="{ name: 'signup' }" @mouseup.native="hideMenu" class="navbar-item" id="signup">
          <a class="button is-info">{{ $t("appNavbar.signUp") }}</a>
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
import Analytics from "root/analytics";
import { mapState } from "vuex";

export default {
  name: "app-navbar",
  computed: {
    ...mapState(["cardId"])
  },
  methods: {
    toggleMenuActive() {
      this.isMenuActive = !this.isMenuActive;
    },
    hideMenu() {
      this.isMenuActive = false;
    },
    recordClick() {
      this.analytics.recordEvent("navbar-click", {
        action: {
          target: "/signup",
          activeCardId: this.cardId
        }
      });
    }
  },
  created() {
    this.analytics = new Analytics();
  },
  mounted() {
    this.analytics.listenTo("click #signup", this.recordClick);
  },
  data() {
    return {
      analytics: null,
      isMenuActive: false
    };
  }
};
</script>

<style lang="scss" scoped>
  @import "~styles/main";

  .lf-navbar {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .navbar-brand {
      .navbar-item.is-active {
        background: none;
      }

      .navbar-item:hover {
        background: none;
      }
    }
  }

  .navbar-item {
    cursor: pointer;
  }

  .navbar-burger {
    color: $dark;
  }
</style>
