<template>
  <div class="audio-recorder" id="sinewaves" :class="{ '-isawaitingresponse': isAwaitingResponse }">
    <div class="microphone" @click="record" :class="{ '-isrecording': isRecording }"></div>
    <span class="icon is-large nomicbutton">
      <span class="fa-stack fa-lg" @click="setMicrophoneUnpermitted">
        <i class="fa fa-microphone fa-stack-1x has-text-info"></i>
        <i class="fa fa-ban fa-stack-2x has-text-info"></i>
      </span>
    </span>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import SiriWave from "siriwavejs";
import Analytics from "root/analytics";

const MAX_RECORDING_LENGTH = 20000;

export default {
  name: "audio-recorder",
  methods: {
    record() {
      if (!this.isRecording) {
        let expiry;
        this.isRecording = true;

        navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(stream => {
          this.recorder = new MediaRecorder(stream, {
            mimeType: this.mimeType,
            audioBitsPerSecond: 96000
          });
          this.startSineWaves();
          this.recorder.start();

          this.recorder.onstart = () => {
            // prevent long recordings from being sent to the server
            expiry = setTimeout(() => {
              this.doNotSend = true;
              console.error("EXPIRED");
              this.recorder.stop();
            }, MAX_RECORDING_LENGTH);
          };

          this.recorder.ondataavailable = (event) => {
            this.recordingData.push(event.data);
          };

          this.recorder.onstop = () => {
            if (expiry) {
              clearTimeout(expiry);
            }

            this.isAwaitingResponse = true;
            const blob = new Blob(this.recordingData, { type: this.mimeType });
            stream.getTracks()[0].stop();
            this.stopSineWaves();
            this.isRecording = false;

            if (this.doNotSend) {
              this.$emit("recording-error", { type: "tooLong" });
              this.doNotSend = false;
              this.isAwaitingResponse = false;
              return;
            }

            const formData = new FormData();
            formData.set("userId", new Analytics().getGuestId());
            formData.set("sentenceId", this.$route.params.id);
            formData.set("mimeType", this.mimeType);
            formData.set("speech", blob);
            this.createSpeech(formData)
              .then((response) => {
                this.$emit("stop-recording", response.data);
              })
              .catch((error) => {
                this.$emit("transcription-error", error);
              })
              .then(() => {
                this.isAwaitingResponse = false;
                this.recordingData = [];
              });
          };
        }).catch(error => {
          console.error(error);
          this.setMicrophoneUnpermitted();
        });
      } else {
        this.recorder.stop();
      }
    },
    startSineWaves() {
      this.sineWaves.start();
      setTimeout(() => {
        this.sineWaves.setAmplitude(0.7);
      }, 100);
    },
    stopSineWaves() {
      this.sineWaves.setAmplitude(0);
      setTimeout(() => {
        this.sineWaves.stop();
      }, 1000);
    },
    ...mapActions("speech", {
      createSpeech: "create"
    }),
    ...mapActions(["setMicrophoneUnpermitted"])
  },
  mounted() {
    this.mimeType = MediaRecorder.isTypeSupported("audio/webm") ? "audio/webm" : "audio/ogg";  // use ogg for firefox
    this.sineWaves = new SiriWave({
      amplitude: 0,
      autostart: true,
      color: "#ff7c0f",
      container: document.getElementById("sinewaves"),
      cover: true,
      frequency: 4,
      speed: 0.1
    });
  },
  data() {
    return {
      doNotSend: false,
      isAwaitingResponse: false,
      isRecording: false,
      mimeType: "",
      recorder: null,
      recordingData: [],
      sineWaves: null
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~styles/main";

.audio-recorder {
  height: 128px;
  position: relative;
  width: 100%;

  &.-isawaitingresponse {
    .microphone:before {
      content: "\f110";
      animation: rotate 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite;
      transform-origin: 0 0;
    }
  }

  .microphone {
    &:before {
      color: $info;
      content: "\f130";
      cursor: pointer;
      font-family: "FontAwesome";
      font-size: 90px;
      left: 50%;
      opacity: 1;
      position: absolute;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }

    &.-isrecording:before {
      animation: pulse 1.5s ease-out;
      animation-iteration-count: infinite;
      transform-origin: 0 0;
    }
  }

  .nomicbutton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg) translate(-50%, -50%);; }
  to   { transform: rotate(360deg) translate(-50%, -50%);; }
}

@keyframes pulse {
  0%   { transform: scale(1, 1) translate(-50%, -50%); }
  50%  { transform: scale(1.15, 1.15) translate(-50%, -50%); }
  100% { transform: scale(1, 1) translate(-50%, -50%); }
}
</style>
