<template>
  <div class="audio-player" @click="replay" :class="{ '-isstopped': !isPlaying }">
    <div :id="containerId"></div>
  </div>
</template>

<script>
import Wavesurfer from "wavesurfer.js";

export default {
  name: "audio-player",
  computed: {
    isPlaying() {
      if (this.wavesurfer) {
        return this.wavesurfer.isPlaying();
      }
      return false;
    }
  },
  props: ["sources", "containerId"],
  methods: {
    loadWaveform() {
      if (this.sources.length > 0) {
        this.wavesurfer.load(this.sources[0]);
      }
    },
    replay() {
      if (this.wavesurfer.isPlaying()) {
        return;
      }
      this.wavesurfer.stop();
      this.wavesurfer.play();
    }
  },
  mounted() {
    this.wavesurfer = Wavesurfer.create({
      barWidth: 2,
      container: `#${this.containerId}`,
      cursorColor: "#ff7c0f",
      cursorWidth: 0,
      interact: false,
      normalize: true,
      progressColor: "#ff7c0f",
      waveColor: "rgb(74, 74, 74)"
    });

    this.wavesurfer.on("ready", () => {
      this.wavesurfer.play();
    });

    this.loadWaveform();
  },
  watch: {
    sources: {
      handler: function() {
        this.loadWaveform();
      },
      deep: true
    }
  },
  data() {
    return {
      wavesurfer: null
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~styles/main";

.audio-player {
  cursor: pointer;
  position: relative;

  &.-isstopped {

    #waveform {
      opacity: 0.3;
    }

    &:before {
      color: $info;
      content: "\f01d";
      font-family: "FontAwesome";
      font-size: 90px;
      left: 50%;
      opacity: 1;
      position: absolute;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }
  }

  &:before {
  }
}
</style>
