<template>
  <div class="card" key="back">
    <div class="card-content">
      <div v-if="isMicrophoneOn">
        <p class="has-text-centered">{{ $t('card.audioIntro') }}</p>
        <audio-player :sources="model.sources" :containerId="'back-player'"></audio-player>
      </div>
      <p class="has-text-centered">{{ $t("card.sentenceIntro") }}</p>
      <p class="has-text-centered is-size-4 answer">
        <span v-for="word in displayText" :class="{ '-removed': word.removed, '-punctuation': word.isPunctuation }">{{ word.value }}</span>
      </p>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <a class="button is-medium is-info" @click="clickButton">{{ $t("card.next") }}</a>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import AudioPlayer from "components/AudioPlayer";

export default {
  name: "card-back",
  props: ["isAnswerCorrect", "displayText", "score", "model"],
  components: { AudioPlayer },
  computed: {
    elementColorClass() {
      if (this.score === 1) {
        return "is-success";
      }
      return "is-danger";
    },
    textColorClass() {
      if (this.score === 1) {
        return "has-text-success";
      }
      return "has-text-danger";
    },
    ...mapGetters(["isMicrophoneOn"])
  },
  methods: {
    clickButton() {
      this.$emit("click-button");
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
  @import "~styles/main";

  .answer {
    span + span:before {
      content: " ";
    }

    span + span.-punctuation:before {
      content: "";
    }
  }

  .answer::first-letter {
      text-transform: uppercase;
  }

  .-punctuation.-removed {
    font-weight: 400;
    @extend .has-text-grey-dark;
  }

  .-removed {
    @extend .has-text-danger;
    font-weight: 700;
  }
</style>
