<template>
  <div class="card" key="front">
    <div class="card-content">
      <audio-player :sources="model.sources" :containerId="'front-player'"></audio-player>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <audio-recorder v-if="isMicrophoneOn" @stop-recording="onStopRecording" @recording-error="onRecordingError" @transcription-error="onTranscriptionError"></audio-recorder>
        <text-input @click-button="onClickButton" v-else></text-input>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AudioPlayer from "components/AudioPlayer";
import AudioRecorder from "components/AudioRecorder";
import TextInput from "components/TextInput";
import Compatibility from "root/compatibility";

export default {
  name: "card-front",
  components: { AudioPlayer, AudioRecorder, TextInput },
  computed: {
    ...mapGetters(["isMicrophoneOn"])
  },
  props: ["model"],
  methods: {
    onClickButton(response) {
      this.$emit("response-change", response);
    },
    onRecordingError(error) {
      this.$emit("recording-error", error);
    },
    onStopRecording(tts) {
      this.$emit("response-change", tts.transcript);
      this.$emit("recording-success", tts.audioUrl);
    },
    onTranscriptionError(error) {
      this.$emit("transcription-error", error);
    },
    ...mapActions(["setMicrophoneUnavailable"])
  },
  created() {
    if (!Compatibility.canRecordAudio()) {
      this.setMicrophoneUnavailable();
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
