<template>
  <div class="progress">
    <span class="value" :style="valueStyle"></span>
  </div>
</template>

<script>
export default {
  name: "score-bar",
  computed: {
    valueStyle() {
      const backgroundColor = this.colorMap.reduceRight((right, left) => {
        return this.percentFilled >= right.threshold ? right : left;
      }).color;

      return {
        width: `${this.percentFilled * 100}%`,
        backgroundColor
      };
    },
    elementColorClass() {
      if (this.percentFilled === 1) {
        return "is-success";
      }
      return "is-danger";
    }
  },
  props: {
    percentFilled: Number,
    colorMap: {
      type: Array,
      validator: (values) => {
        return values.every(v => v.threshold >= 0 && v.threshold <= 1)
            && values.map(v => v.threshold).every(monotonicallyIncreases);

        function monotonicallyIncreases(v, i, a) {
          if (i) { return v > a[i - 1]; }
          return true;
        }
      },
      default: () => [
        { threshold: 0, color: "#ff7c0f" },
        { threshold: 1, color: "#23d160" }
      ]
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
  @import "~styles/main";

  .progress {
    height: 16px !important;
    width: 100%;
    max-width: 500px;
    background-color: #dbdbdb;
    position: relative;
  }

  .progress .value {
    display: inline-block;
    height: 16px;
    position: relative;
    top: -2px;
    transition: width 2s ease;

    &.is-danger {
      background-color: $danger;
    }

    &.is-success {
      background-color: $success;
    }
  }
</style>
