<template>
  <div class="column">
    <div class="field" style="width: 100%;">
      <div class="control is-expanded">
        <textarea class="textarea" :placeholder="$t('card.responsePlaceholder')" v-model="response"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-medium is-info" style="width: 100%; display: inline-block;" @click="onClickButton">{{ $t("card.submit" )}}</button>
      </div>
      <p class="help" v-if="!isMicrophoneAvailable">{{ $t("card.noAudioWarning") }}</p>
      <i18n v-else tag="p" class="help" path="card.turnOnMicrophone">
        <span class="has-text-info" @click="setMicrophonePermitted">{{ $t("card.here") }}</span>
      </i18n>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "text-input",
  computed: {
    ...mapState(["isMicrophoneAvailable"])
  },
  methods: {
    onClickButton() {
      this.$emit("click-button", this.response.toLowerCase());
      this.response = "";
    },
    ...mapActions(["setMicrophonePermitted"])
  },
  data() {
    return {
      response: ""
    };
  }
};
</script>

<style lang="scss" scoped>
</style>
