<template>
  <div class="card tutorial-card" key="front">
    <div class="card-content">
      <div class="content">
        <h2 class="title is-4 has-text-black">{{ $t("tutorial.title") }}</h2>
        <ol v-if="canRecordAudio" class="has-text-left">
          <i18n tag="li" path="tutorial.stepList.audio[0]">
            <i class="fa fa-play-circle-o" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <i18n tag="li" path="tutorial.stepList.audio[1]">
            <i class="fa fa-microphone" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <i18n tag="li" path="tutorial.stepList.audio[2]">
            <i class="fa fa-microphone" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <li>{{ $t("tutorial.stepList.audio[3]") }}</li>
        </ol>
        <ol v-else class="has-text-left">
          <i18n tag="li" path="tutorial.stepList.noAudio[0]">
            <i class="fa fa-play-circle-o" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <i18n tag="li" path="tutorial.stepList.noAudio[1]">
            <i class="fa fa-microphone" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <i18n tag="li" path="tutorial.stepList.noAudio[2]">
            <i class="fa fa-microphone" style="vertical-align: baseline; margin: 0 2px;" aria-hidden="true"></i>
          </i18n>
          <li>{{ $t("tutorial.stepList.noAudio[3]") }}</li>
        </ol>
        <p class="has-text-centered has-text-info" style="font-weight: 700;">{{ $t("tutorial.callToAction") }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Compatibility from "root/compatibility";

export default {
  name: "TutorialCard",
  computed: {
    canRecordAudio() {
      return Compatibility.canRecordAudio();
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.tutorial-card {
  cursor: pointer;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
</style>
